<!DOCTYPE html>
<html>
<head>
	<title> About </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="w3-container" id="team">
    <h3 class="w3-center" style="font-size: 18px;">THE TEAM</h3>
    <p class="w3-center w3-large" style="color: grey">The ones who run this website! </p>

    <div class="w3-row-padding" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom" style="display: flex; justify-content: space-around; width: 100%;">
        <div class="w3-card-2" style="width: 30%; height: 300px; display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
          <img src="images/shubham.jpg" alt="John" style="width:90%; height: 260px; border-radius: 50%;">
          <span> Shubham Aggarwal </span>
        </div>
        <div class="w3-card-2" style="width: 30%; height: 300px; display: flex; justify-content: space-around; align-items: center; flex-direction: column;">
          <img src="images/rajat.jpg" alt="John" style="width:90%; height: 260px; border-radius: 50%;">
          <span> Rajat Singla </span>
        </div>
      </div>
    </div>
</body>
</html>