<!DOCTYPE html>
<html>
<head>
	<title> About </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="team_outer">
    <h2 style="font-size: 18px;">THE TEAM</h2>
    <p style="color: grey; font-size: 16px;">The ones who run this website! </p>

    <div class="team_container">
        <div>
          <img src="images/shubham.jpg" alt="John" style="width:90%; height: 260px; border-radius: 50%;">
          <span> Shubham Aggarwal </span>
        </div>
        <div>
          <img src="images/rajat.jpg" alt="John" style="width:90%; height: 260px; border-radius: 50%;">
          <span> Rajat Singla </span>
        </div>
    </div>
</div>

</body>
</html>