<!DOCTYPE html>
<html>
<head>
	<title> About </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="team_outer">
    <h2 style="font-size: 18px;">THE TEAM</h2>
    <p style="color: grey; font-size: 16px;">The ones who run this website! </p>

    <div class="team_container">
          <div class="flipper">
            <div class="front">
              <img src="images/shubham.jpg" style="width:90%; height: 260px; border-radius: 50%;">
              <span class="back-title"> Shubham Aggarwal </span>
            </div>
            <div class="back">
              <div class="back-logo"> <img src="/images/shubham.jpg"> </div>
              <div class="back-title"> Shubham Aggarwal </div>
              <p> Full Stack Web Developer in Ruby on Rails (both front-end and back-end), having basic knowledge of Data Structures and Algorithms. </p>
            </div>
          </div>        
          <div class="flipper">
            <div class="front">
              <img src="images/rajat.jpg" style="width:90%; height: 260px; border-radius: 50%;">
              <span class="back-title"> Rajat Singla </span>
            </div>
            <div class="back">
              <div class="back-logo"> <img src="images/rajat.jpg"> </div>
              <div class="back-title"> Rajat Singla </div>
              <p> Geek God, stud in competitive coding, knows every algo that exists in the world, revised gfg database 5 times. </p>
            </div>
          </div>
    </div>
</div>

</body>
</html>