<% if user.person %>
	<% sender = user.person.name %>
<% else %>
	<% sender = user.email %>
<% end %>

<% time = message.created_at.strftime("%H:%M")%>
<% type = 'message_other' %>

<% if message.user == current_user %>
	<% type = 'message_self' %>
<% end %>

<div class="<%= type %>">
	<div class="message_container">
		<div class="message_sender"> <%= sender %> </div>
		<div class="message_content"> <%= message.content %> </div>
		<div class="message_time_container"> <span class="message_time"> <%= time %> </span> </div>
	</div>
</div>