<!DOCTYPE html>
<html>
<head>
	<title> Groups </title>
</head>
<body>
	<div class="create_group_container"> 
		<a href="/groups/create"> <img src="/images/create.jpg" id="create_group_icon" title="Create Group"> </a> 
	</div>
	<div class="groups_container">
		<% @groups.each do |group| %>
			<%= render 'group', group: group %>
		<% end %>
	</div>
</body>
</html>
