/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
 	margin: 0;
 	padding: 0;
 }

 body{
 	padding: 10px;
 	padding-top: 100px;
 	background-image: url('/images/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.loginOuter{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 78vh;
}

.loginContainer{
	border: 1px solid grey;
	width: 25%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	background-color: white;
}

#navbar-link-signup, #navbar-link-login{
	text-decoration: none;
	background-color: #ff5733;
	padding: 5px;
	border-radius: 4%;
	margin-left: 10px;
	color: white;

}

.create_group{
	width: 40%;
	display: flex;
	justify-content: space-around;
	font-size: 16px;
	margin: auto;
	margin-top: 100px;
}

#group_name{
	padding: 10px;
	font-size: 18px;
}

#create_group_button{
	padding: 10px;
	background-color: pink;
	color: brown;
	border: 1px solid brown;
	width: 100px;
	font-size: 18px;
	border-radius: 5%;
}

#create_group_button:hover{
	cursor: pointer;
	box-shadow: 0 0 30px pink;
}

.cancel{
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#cancel_button{
	padding: 10px;
	background-color: brown;
	color: white;
	border: 0px;
}

#cancel_button:hover{
	cursor: pointer;
	box-shadow: 0 0 30px brown;
}

.outerField{
	display: flex;
	width: 100%;
    margin: 8px 0;
    border: 0px solid #ccc;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    padding-bottom: 5px;
}

#user_email, #user_password, #user_password_confirmation, #user_current_password{
	border: 0px solid #ccc;
	margin-left: 5px;
}

.actions > input{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions > input:hover {
    background-color: #45a049;
}

.participants_container{
 	border: 1px solid grey;
 	padding: 10px;
 	width: 35%;
}

.participants_container_head{
 	display: flex;
 	justify-content: space-between;
 	padding: 5px;
}

.member{
	border: 1px solid grey;
	border-bottom: 0px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.members_list{
	border-bottom: 1px solid grey;
}

.member > img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.member_left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
}

.member_left_upper, .member_left_lower{
	display: flex;
	justify-content: space-between;
} 

.member_left_lower > div > a > img{
	height: 20px;
	width: 20px;
}

.member_name{
	font-size: 19px;
}

.member_position{
	font-size: 15px;
	color: grey;
}

.chat_box{
	border: 1px solid grey;
	border-left: 0;
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 80%;
	background-color: #f1f1f1;	
}

.chat_window{
	height: 450px;
	overflow-y: scroll;
	padding: 10px;
	background-color: #f1f1f1;
}

.message_container{
	background-color: white;
	border-radius: 4%;
	border: 1px solid blue;
	width: 40%;
	margin-bottom: 10px;
	padding: 5px;
}

.message_time_container{
	display: flex;
	justify-content: flex-end;
}

.message_sender{
	color: blue;
	font-size: 15px;
}

.message_content{
	color: black;
	font-size: 18px;
}

.message_time{
	color: grey;
	font-size: 12px;
}

.message_other{
	display: flex;
	justify-content: flex-start;

}

.message_self{
	display: flex;
	justify-content: flex-end;
}

.chat{
	display: flex;
}

.group_name{
	border: 1px solid grey;
	padding: 10px;
	background-color: grey;
}

.group_name > span{
	font-size: 40px;
	color: white;
}

#message{
	width: 93%;
	height: 25px;
}

#message_form{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.submit_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}

.add_participant_submit, .send_message{
	height: 40px;
	width: 40px;
}

#participant_username{
	height: 30px;
	width: 255px;
}

.header{
	position: fixed;
	top: 10px;
	left: 0;
	height: 70px;
	width: 97.5%;
	padding: 5px;
	border: 1px solid orange;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header > img{
	height: 55px;
	width: 15%;
}

.header_user{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

.header_user > img{
	height: 55px;
	width: 55px;
	border-radius: 50%;
	margin-left: 10px;
}

#signup, #login{
	text-decoration: none;
	border: 1px solid grey;
	padding: 5px;
	background-color: green;
	color: white;
	border-radius: 3%;
	margin-left: 10px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.navigation > li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*.navigation > li a.active {
    background-color: #4CAF50;
    color: white;
}

.navigation > li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

.navigation > li a:hover{
    background-color: #555;
    color: white;
}

.container{
	display: flex;
	justify-content: space-between;
}

.main{	
	width: 83%;
}

.profile_container{
	display: flex; 
	justify-content: space-around;
}

.profile_container_image{
	width: 30%;
}

.profile_container_content{
	width: 75%;
}

.profile_container_image > img{
	height: 250px;	
	width: 250px; 
	border: 1px solid grey
	border-radius: 5%;
}

.profile_container > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile_container > div > fieldset{
	padding: 10px;
	background-color: greenyellow;
}

.profile_container > div > fieldset > legend{
	font-size: 20px;
    color: blue;
}

.profile_container_content > fieldset > div{	 
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-bottom: 5px;
}

#create_profile{
	padding: 10px;
	background-color: brown;
	color: white;
	border: 0px;
	font-size: 18px;
}

#create_profile:hover{
	cursor: pointer;
	box-shadow: 0 0 30px green;
}

#dob{
	color: grey;
}

.name{
    color: grey;
}
    
.content{
    color: #003300;
}

.profile_links{
	display: flex;
	justify-content: space-around;
}

#edit_profile, #create_profile, #save_profile{
	border: 1px solid green;
	background-color: green;
	text-decoration: none;
	padding: 5px;
	color: white;
	border-radius: 5%;
}

#edit_profile:hover, #create_profile:hover, #save_profile:hover{
	cursor: pointer;
}

.groups_container{
	display: flex;
}

.group{
	border: 1px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 250px;
	border-radius: 60%;
	background-color: cyan;
	color: blue;
	font-size: 20px;
	margin-right: 20px;
}

.group:hover{
	cursor: pointer;
}

.group > a{
	text-decoration: none;
}

.group:hover{
	box-shadow: 0 0 60px cyan;
}

.create_group_container{
	display: flex;
	justify-content: flex-end;
}

#create_group_icon{
	height: 50px;
	width: 50px;
}

.transaction{
	border: 1px solid black;
}
.transaction_head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.transaction_head > span{
	font-size: 25px;
}

.transaction_head > a > img{
	height: 40px;
	width: 40px;
}

.transaction_content{
	padding: 10px;
	width: 70%;
	margin: auto;
}

.transaction_pending{
	background-color: pink;
	color: red;
}

.transaction_paid{
	background-color: lightgreen;
	color: darkgreen;
}

.transaction_toggle{
	height: 20px;
	width: 20px;
}

/*.toggleTransaction{
	display: flex;
	justify-content: space-between;
}

.toggleTransaction > img{
	height: 20px;
	width: 20px;
	margin-right: 24px;
}

.toggleTransaction:hover{
	cursor: pointer;
}*/

.transaction_last_child{
	background-color: white;
}

.td_type1{
	width: 200px;
}

.td_type2{
	width: 100px;
}

#search_results{
	width: 258px;
}

#search_results > div{
 	border: 1px solid grey;
 	border-top: 0px;
 	border-top: 0;
 	width: 100%;
 	background-color: white;
 	padding: 5px;
 	box-sizing: border-box;
}

#search_results > div:hover{
 	cursor: pointer;
 	background-color: cyan;
}

.instasplit{
	width: 80%;
	margin: auto;
	background-image: url('/images/insta_background.jpg');
	background-repeat: no-repeat;
	color: white;
	font-size: 17px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.instasplit > p{
	margin-top: 20px;
	font-size: 16px;
}

.instaeval{
	width: 70%;
	margin: auto;
	background-color: #f1b1a1;
	padding: 40px;
	color: brown;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.instaeval_form{
	width: 90%;
}

.instaeval_form > form{
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.instaeval_form > form > div{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

#eval{
	padding: 10px;
	height: 40px;
	width: 300px;
	background-color: brown;
	color: white;
	border: 0px;
	border-radius: 5%;
	font-size: 20px;
	margin-top: 40px;
}

#count{
	height: 25px;
	font-size: 18px;
	text-align: center;
}

.amount{
	text-align: center;
}

#count_button{
	padding: 5px;
	width: 100px;
}

#eval:hover{
	box-shadow: 0px 0px 20px black;
	cursor: pointer;
}

.result{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
}

.team_outer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.team{
	display: flex; 
	justify-content: space-around; 
	width: 100%;
}

.team_container > div{
	width: 35%; 
	height: 300px; 
	display: flex; 
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.team_container{
	margin-top: 64px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;	
}

.footer{
		width: 97%;
		background-color: #322514;
		color: white;
		margin-top: 50px;
		padding: 20px;
	}

	.footer_contact{
		width: 50%;
	}


	.footer_contact > div{
		width: 60%;
	}

	.footer_contact > div > p{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer_upper, .footer_lower{
		display: flex;
		justify-content: space-around;
		align-items: center;
	} 
	.footer_time, .footer_contact{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer_map > img{
		height: 200px; 
		width: 400px;"
	}

	/*.flip-container {
	    -webkit-perspective: 1000;
	    -moz-perspective: 1000;
	    -o-perspective: 1000;
	  	perspective: 1000;
	}*/

	.flipper:hover{
		/*-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);*/
		transform: rotateY(180deg);
	}

	.front, .back {
		width: 100%;
		height: 100%;
		display: flex; 
		justify-content: space-around; 
		align-items: center; 
		flex-direction: column;
	}

	.flipper {
		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;

		-moz-transition: 0.6s;
		-moz-transform-style: preserve-3d;
	  
	    -o-transition: 0.6s;
		-o-transform-style: preserve-3d;

		transition: 0.6s;
		transform-style: preserve-3d;
		

		width: 100%;
		height: 100%;

		/*position: relative;*/
	}

	.front, .back {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
		backface-visibility: hidden;
		background: #f8f8f8;

		position: absolute;
		top: 0;
		left: 0;
	}

	/*.front {
		z-index: -1;
	}*/

	.back {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
	    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.front .name {
		font-size: 2em;
		display: inline-block;
		background: rgba(33, 33, 33, 0.9);
		color: #f8f8f8;
		font-family: Courier;
		padding: 5px 10px;
		border-radius: 5px;
		bottom: 60px;
		/*left: 25%;*/
		/*position: absolute;*/
		text-shadow: 0.1em 0.1em 0.05em #333;

		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	.back-logo > img {
		/*position: absolute;*/
		/*top: 40px;*/
		/*left: 90px;*/
		width: 100px;
		height: 100px;
	}


	.back-title {
		font-weight: bold;
		color: #00304a;
		/*position: absolute;*/
		/*top: 180px;*/
		/*left: 0;*/
		/*right: 0;*/
		text-align: center;
		text-shadow: 0.1em 0.1em 0.05em #acd7e5;
		font-family: Courier;
		font-size: 1.6em;
	}

	.back p {
		/*position: absolute;*/
		/*bottom: 40px;*/
		/*left: 0;*/
		/*right: 0;*/
		text-align: center;
		padding: 0 20px;
	  	font-family: arial;
	  	line-height: 2em;
	}

	.passbook_container > div{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 30px;
		font-size: 20px;
	}

	.passbook_debit{
			border: 1px solid black;
			border-left: none;
			border-bottom: none;
		}

	.passbook_debit > thead > tr > th{
			width: 150px;
			height: 50px;
			background-color: #0D90B7;
			font-size: 22px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			color: white;
		}

	.passbook_debit > tbody > tr > td{
			width: 150px;
			height: 30px;
			font-size: 18px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			color: magenta;
			text-align: center;
			padding: 10px;
		}

	.passbook_credit{
			border: 1px solid black;
			border-left: none;
			border-bottom: none;
		}

	.passbook_credit > thead > tr > th{
			width: 150px;
			height: 50px;
			background-color: #0D90B7;
			font-size: 22px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			color: white;
		}

	.passbook_credit > tbody > tr > td{
			width: 150px;
			height: 30px;
			font-size: 18px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			color: magenta;
			text-align: center;
			padding: 10px;
		}

@media(max-width: 720px)
	{

		body{
			padding: 0px;
			padding-top: 100px;
		}

		.header{
			width: 93%;
		}

		.container{
			flex-direction: column;
			align-items: center;
			width: 95%;
			margin: auto;

		}

		.header > img{
			width: 40%;
		}

		.nav{
			width: 60%;
			margin-bottom: 10px;
		}

		.nav > ul{
			width: 100%;
			text-align: center;
		}

		.main{
			width: 90%;
			margin: auto;
		}

		.instasplit{
			width: 90%;
			padding: 20px;
		}

		.instaeval{
			width: 90%;
			padding: 20px;
		}

		.instaeval > form{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.instaeval > form > span{
			font-size: 18px;
		}

		#count_button{
			margin-top: 10px;
		}

		.instaeval_form > form > div{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			height: 50px;
			margin-bottom: 10px;
			width: 100%;
		}

		.instaeval_form > form > div > div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.amount{
			text-align: left;
		}

		.team{
			flex-direction: column;
			align-items: center;
		}

		.team_container > div{
			width: 90%;
			margin-bottom: 20px;
		}

		.team_container{
			margin-top: 20px;
			flex-direction: column;
		}

		.loginContainer{
			width: 80%;
		}

		.groups_container{
			flex-direction: column;
			align-items: center;
		}

		.groups_container > div{
			margin-bottom: 10px;
		}

		.create_group_container{
			justify-content: center;
			margin-bottom: 10px;
		}

		.create_group{
			flex-direction: column;
			width: 80%;
			align-items: center;
			margin-top: 30px;
		}

		.chat{
			flex-direction: column;
			align-items: center;
		}

		.participants_container{
			width: 80%;
			margin-bottom: 20px;
		}

		.chat_box{
			border: 1px solid grey;
			width: 100%;
		}

		.message_container{
			width: 70%;
		}

		#message{
			width: 85%;
		}

		.footer{
			width: 93%;
			margin: auto;
			margin-top: 20px;
			padding: 10px;
		}

		.footer_upper{
			flex-direction: column;
		}

		.footer_contact{
			width: 90%;
			margin-bottom: 20px;
		}

		.footer_contact > div{
			width: 100%;
		}

		.footer_map{
			margin-bottom: 10px;
		}

		.footer_map > img{
			height: 200px; 
			width: 350px;"
		}


		.cancel{
			flex-direction: column;
			align-items: center;
		}

		.cancel > span{
			margin-bottom: 10px;
		}

		.main{
			width: 100%;
		}

		.profile_container{
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin: auto;
		}

		.profile_container_image{
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
		}

		.profile_container_image > div{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 65%;
		}

		.profile_container_content{
			width: 90%;
		}

		.profile_container_content > fieldset > div{
			width: 95%;
			margin: auto;
		}


		/*.profile > div{
			width: 100%;
		}

		.profile > div > fieldset{
			width: 100%;
		}

		.profile > img{
			margin: 0px;
			margin-bottom: 20px;
		}*/

	}



/*rackup -s thin -E developement faye.ru*/
